.main {
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
    background-color: #f4f7f9; 
}

.main .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #4a5568;
}

.main .nav img {
    width: 40px;
    border-radius: 40%;
}

.main-container {
    max-width: 900px;
    margin: auto;
}

.main .greet {
    margin: 50px 0px;
    font-size: 56px;
    color: #2d3748; 
    font-weight: 500;
    padding: 20px;
}

.main .greet span {
    background: linear-gradient(16deg, #6ee7b7, #3b82f6);
    background-clip: text;
    color: transparent;
}

.main .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    padding: 20px;
}

.main .card {
    height: 200px;
    padding: 15px;
    background-color: #ffffff; 
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
}

.main .card img {
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}

.main .card p {
    color: #4a5568;
    font-size: 17px;
}

.main .card:hover {
    background-color: #e2e8f0; 
}

.main-bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #e2e8f0; 
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box img {
    width: 24px;
    cursor: pointer;
}

.search-box input {
    flex: 1;
    background: transparent;
    outline: none;
    border: none;
    padding: 8px;
    font-size: 18px;
    color: #4a5568;
}

.search-box div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.main .bottom-info {
    font-size: 12px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
    color: #a0aec0; 
}
